<form class="search-form">
  <mat-form-field style="width: 95%;">
    <input matInput
      type="text"
      style="color: #878787;"
      [class.selected]="optionSelected"
      placeholder="Search an Address"
      [formControl]="searchFormControl"
      [matAutocomplete]="autocomplete"
      (input)="onSearchChange($event.target.value)"
      (blur)="onBlur()">

    <mat-autocomplete #autocomplete="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onOptionSelected($event.option.value)">
      <mat-option *ngFor=" let option of options"
        [matTooltip]="displayString(option)"
        [matTooltipPosition]="'right'"
        [value]="option">
        <div *ngIf="option['BUILDING']!=='NIL'" class="search-option-building">
          {{option['BUILDING']}}
        </div>
        <div class="search-option-address">
          {{option['ADDRESS']}}
        </div>
        <hr class="option-separator">
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
