.pane-tabs-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  background-color: #f3f3f3; /* #f5f5f5; */
}

.pane-tabs {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 40px;
}

.pane-tabs > ul {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pane-tabs > ul > li {
  width: 100%;
  height: 40px;
  font-size: 12pt;
  overflow: hidden;

  cursor: pointer;

  transition: all 80ms;
  list-style-type: none;

  text-align: center;
  line-height: 40px;

  color: #333;
  background-color: #f3f3f3;
}
.pane-tabs > ul > li:hover {
  background-color: #d1d1d1;
}

.pane-tabs > ul > li.active {
  background-color: #0074d9;
}

.pane-tabs > ul > li.disabled {
  background-color: #b3b3b3;
}
.pane-tabs > ul > li.disabled:hover {
  cursor: default;
}

.pane-content-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  width: 358px;
}
