<!-- Tabs -->
<div class="pane-tabs-container">
  <div class="pane-tabs">
    <ul role="tablist">
      <li (click)="onTabClick('home')" [class.active]="activeTab==='home'">
        <fa-icon [icon]="faBars" [styles]="isActiveIcon('home')"></fa-icon> <!-- if active style white-->
      </li>
      <li (click)="onTabClick('directions')" [class.active]="activeTab==='directions'">
        <fa-icon [icon]="faDirections" [styles]="isActiveIcon('directions')"></fa-icon>
      </li>
      <li (click)="onTabClick('map')" [class.active]="activeTab==='map'">
        <fa-icon [icon]="faMap" [styles]="isActiveIcon('map')"></fa-icon>
      </li>
    </ul>


    <ul role="tablist" [style]={bottom:0}>
      <li>
        <fa-icon [icon]="faInfoCircle"></fa-icon> <!-- if active style white-->
      </li>
    </ul>

  </div>
</div>


<div class="pane-content-container">
  <!-- components will be placed here -->
  <!-- display on ngIf -->
  <app-tsp *ngIf="activeTab==='home'"></app-tsp>
  <app-tsp-result *ngIf="activeTab==='directions'"></app-tsp-result>
</div>
