<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #controlpane [(opened)]="controlPaneOpened" disableClose>
    <app-control-pane></app-control-pane>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-map></app-map>

    <div class="map-spinner">
      <mat-spinner *ngIf="showMapSpinner"></mat-spinner>
    </div>

    <!-- Sidebar Toggle -->
    <div *ngIf="!controlPaneOpened" class="toggle-controlpane-container">
      <button class="toggle-controlpane-button" (click)="controlpane.open()"></button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
