<div class="tsp-container">

  <!-- Header -->
  <div class="mat-headline pane-title">
    Optimize Your Route!
    <fa-icon (click)="closeControlPanel()" class="close-pane" [icon]="faCaretLeft"></fa-icon>
  </div>
  <!-- Transit Options -->
  <div class="transit-options-container">
    <mat-button-toggle-group
      #transitOption="matButtonToggleGroup"
      [value]="currentTransitOption"
      (change)="transitChanged()"
      aria-label="Transit Options">

      <mat-button-toggle value="drive"
        [class.active]="currentTransitOption==='drive'"
        disableRipple="true"
        aria-label="drive">
        <fa-icon [icon]="faCar" size="lg"></fa-icon>
      </mat-button-toggle>

      <!-- Don't Support Public Transport for now -->
      <!-- <mat-button-toggle value="pt"
        [class.active]="transitOption.value==='pt'"
        disableRipple="true"
        aria-label="public transport">
        <fa-icon [icon]="faBusAlt" size="lg"></fa-icon>
      </mat-button-toggle> -->

      <mat-button-toggle value="walk"
        [class.active]="currentTransitOption==='walk'"
        disableRipple="true"
        aria-label="walk">
        <fa-icon [icon]="faWalking" size="lg"></fa-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </div>

  <!-- Compulsory Home Search Component -->
  <div class="search-container">

    <div style="display: inline-block; height: 30x; width: 30px;">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </div>

    <div style="display: inline-block; width: 320px;">
      <app-location-search [location_index]="0"></app-location-search>
    </div>

  </div>

  <!-- Additional Optional Search Components once previous components are selected-->
  <ng-container *ngFor="let location of locationsSelected; let i = index">

    <!-- If MAX_LOCATIONS is x and there are currently x search components displayed, don't give users anymore search components -->
    <div class="search-container" *ngIf="i+1<MAX_LOCATIONS">
      <!-- <div class="search-container" *ngIf="i+1<MAX_LOCATIONS"> -->

      <!-- Icon -->
      <div style="display: inline-block; height: 30x; width: 30px;">
        <!-- Conditions to determine which icon to display -->
        <mat-icon *ngIf="i+2 < 10; else endIcon">filter_{{i+2}}</mat-icon>

        <ng-template #endIcon>
          <fa-icon [icon]="faFlagCheckered" size="lg"></fa-icon>
        </ng-template>

      </div>

      <!-- Search Component -->
      <div style="display: inline-block; width: 295px;">
        <!-- i+1 to account for the initial compulsory home location. Thus i will represent index in locations array -->
        <app-location-search [location_index]="i+1"></app-location-search>
      </div>

      <!-- Delete Icon -->
      <div style="display: inline-block;">
        <mat-icon style="cursor: pointer;" (click)="deleteLocation(i+1)">delete</mat-icon>
      </div>

    </div>
  </ng-container>

  <!-- Calculate Button -->
  <div *ngIf="locationsSelected.length>=0" class="calculate-route-button">
    <button (click)="solveTsp()" mat-raised-button>
      Optimize!
      <!-- <fa-icon [icon]="faRoute" size="3x"></fa-icon> -->
    </button>
  </div>
</div>
