.tsp-container {
  top: 0;
  height: 100%;
  width: 100%;
}

.pane-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #0074d9;
}

.close-pane {
  position: absolute;
  height: 40px;
  top: 1px;
  right: 10px;
  font-size: 16pt;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.transit-options-container {
  height: 50px;
}

.transit-options-container > mat-button-toggle-group {
  display: flex;
  justify-content: space-evenly;
}

.transit-options-container > mat-button-toggle-group > mat-button-toggle {
  width: 50px;
  border-radius: 30px;
  color: #52514e;
  background-color: #d1d1d1;
}

.transit-options-container
  > mat-button-toggle-group
  > mat-button-toggle.active {
  color: #eee;
  background-color: #0074d9;
}
